.border1{

  box-shadow: 0px 0px 10px 0.5px rgba(255, 0, 0,0.4);
height: 440px;
overflow: hidden;
text-decoration: none;
}


.border2{
  height: 550px;

  box-shadow: 0px 0px 10px 0.5px rgba(255, 0, 0,0.4);

}